@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: black;
    /* background-color: gray; */
}


.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.logo img {
    width: 38px;
    height: 38px;
}

/* Element */
.l_element {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 40px;
    border-radius: 18px;

}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.navbar li {
    list-style-type: none;
}

.navbar li i {
    padding-left: 8px;
}

.navbar a,
i {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}


/* Menu Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: white;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* button */
.l_button button {
    width: 109px;
    height: 30px;
    padding: 2px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    background-color: #8C45FF;
    cursor: pointer;
}

#remain_text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin: 100px 0 40px 0;
}

/* Boost */
.boost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5.625rem 0 2.75rem 0;
}

.field_new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 291px;
    height: 42px;
    gap: 7px;
    border-radius: 18px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    padding: 0 14px;
    color: #B372CF;
    font-size: 16px;
    font-weight: 500;
    /* box-shadow: 
      inset 0 0 5px rgba(255, 255, 255, 0.2), 
      0 0 8px rgba(179, 114, 207, 0.5),
      0 0 15px rgba(179, 114, 207, 0.3);  */
    transition: all 0.3s ease;
    cursor: default;
}

.field_new:hover {
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.3),
        0 0 12px rgba(179, 114, 207, 0.6),
        0 0 20px rgba(179, 114, 207, 0.4);
    color: #FFFFFF;
}

.field_new button {
    width: 34px;
    height: 18px;
    color: black;
    background-color: #9855FF;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 10px;
    font-weight: bold;
    padding: 0.5px 5px;
    cursor: pointer;
}

.field_new p {
    font-size: 16px;
    color: #9855FF;
}

.head_para h1 {
    font-size: 5.125rem;
    font-weight: 600;
    background: linear-gradient(to bottom, #FFFFFF, #B372CF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.head_para p {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    padding-top: 0.75rem;
}

.start button {
    width: 121px;
    height: 41px;
    color: black;
    background-color: white;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    margin-top: 1.5rem;
    cursor: pointer;
}

/* Graph */
.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin: 50px 0;
}

.graph img {
    background-color: #2A193C;
    box-shadow: 0 -88px 165px rgba(98, 42, 154, 0.6), 0 -40px 58px rgba(96, 42, 154, 0.5), 0 4px 10px rgba(98, 42, 154, 0.6), 0 8px 15px rgba(96, 42, 154, 0.5), 0 12px 20px rgba(77, 55, 99, 0.4), 0 16px 30px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* Box */
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    /* width: 235px; */
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 32px 40px;
}

.box1 img {
    width: 155px;
    height: 34px;
}

/* Harness */
.harness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.harness p {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    text-align: center;
}

.ring_and_graph {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 31px;
}

.ring {
    width: 35%;
    max-width: 346px;
    /* min-width: 254px; */
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.ring img {
    width: 265px;
    height: 206px;
}

.ss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 25px 0 40px 0;
    width: 265px;
}

#img_p1 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: start;
    padding-bottom: 10px;
}

#img_p2 {
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-align: start;
}


.ring_graph {
    width: 55%;
}

.ring_graph img {
    width: 100%;
    /* min-width: 450px; */
    height: 345px;
}

/* Elevate your SEO */
.elevate {
    background: linear-gradient(to right, #190D2E 10%, #02010A 31%, #000000 113%);
    padding: 4.75rem 3.125rem;
}


.elevate h2 {
    font-size: 3.5rem;
    font-weight: 500;
    color: white;
    margin: 4.75rem 0.125rem;
    /* margin-bottom: 2.5rem; */
}

.main_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4.75rem 0rem;
}

.ele_parta {
    width: 30%;
}

.user-frie span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.user-frie p {
    font-size: 16px;
    font-weight: 100;
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* Client */
.client_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client_center h2 {
    font-size: 3.5rem;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 28px;
}

.client_center #one {
    font-size: 1.25rem;
    color: white;
    font-weight: 500;
    text-align: center;
}

.client_main_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 114px;
}



.client_txt h3 {
    font-size: 1.438rem;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.client_txt #txt_1 {
    font-size: 1rem;
    color: white;
    font-weight: 200;
    margin-bottom: 5px;
}

.client_txt #txt_2 {
    font-size: 0.875rem;
    color: gray;
    font-weight: 400;
}

/* Pricing */
/* Slider */
.toogle_butt {
    width: 20px;
    height: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    /* Reduce width */
    height: 20px;
    /* Reduce height */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    /* Reduce height */
    width: 16px;
    /* Reduce width */
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #611fcb;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    /* Adjust translation */
    -ms-transform: translateX(20px);
    /* Adjust translation */
    transform: translateX(20px);
    /* Adjust translation */
}

.toggle_and_text {
    width: 100%;
    gap: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px 0 53px 0;
}

.toggle_but p {
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

/* Boxes */
.pric_main_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

/* Box 1 */
.price_box1 {
    width: 307px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price_box1 h2 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 6px;
}

.price_box1 p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

.price_box1 hr {
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon_text {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 14px;
}

.icon_text i {
    font-size: 10px;
    color: white;
}

.icon_text p {
    font-size: 14px;
    font-weight: 100;
    color: white;
}

/* Box 2 Shadow */
#box2_shadow {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 211px 240px rgba(98, 42, 154, 0.6), 0 103px 58px rgba(96, 42, 154, 0.5), 0 4px 10px rgba(98, 42, 154, 0.6), 0 8px 15px rgba(96, 42, 154, 0.5), 0 12px 20px rgba(77, 55, 99, 0.4), 0 16px 49px rgba(255, 255, 258, -94.8);
}

.price_box1 button {
    width: 267px;
    height: 38px;
    padding: 6px 94px;
    background: linear-gradient(176deg, rgba(242, 255, 255, 0.3), rgba(255, 255, 284, -1.0));
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
}

#purple_button {
    background-color: #311264;
    box-shadow: 0 -22px 81px rgba(98, 42, 154, 0.6), 0 -67px 47px rgba(96, 42, 154, 0.5), 0 13px 116px rgba(98, 42, 154, 0.6), 0 -13px 21px rgba(96, 42, 154, 0.5), 0 -1px 0px rgba(77, 55, 99, 0.4), 0 -95px 1px rgba(255, 255, 258, -94.8);

}

/* Footer */
.col1 #bold {
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.col1 p {
    font-size: 13px;
    font-weight: 100;
    color: gray;
    margin-bottom: 20px;
}

.footers {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding: 0 50px;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.foot_logos #ab404 {
    padding-left: 30px;
}

.foot_b {
    display: flex;
    align-items: baseline;
    gap: 60px;
    flex-wrap: wrap;
}

.foot_a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot_a i {
    font-size: 18px;
    color: gray;
}

.foot_img img {
    width: 100%;
}
.client_img{
    border: none;
}
.client_main_section .client_img img {
    box-shadow: 0 41px 81px rgba(98, 42, 154, 0.6), 0 -72px 72px rgba(96, 42, 154, 0.5), 0 -34px 115px rgba(98, 42, 154, 0.6), 0 -6px 87px rgba(96, 42, 154, 0.5), 0 2px 63px rgba(77, 55, 99, 0.4), 0 -202px 8px rgba(255, 255, 258, -94.8);
}

/* Media Query  800 850 805 700 600 500 420*/

@media (width < 1000px) {
    .price_box1 {
        width: 285px;
    }

    .price_box1 button {
        width: 245px;
        padding: 0;
    }
}

@media (width < 900px) {
    .price_box1 button {
        width: 205px;
        font-size: 12px;
    }

    .price_box1 {
        width: 245px;
        height: 500px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(width < 850px) {
    .l_element {
        padding: 7px 26px;
    }

    .l_button button {
        width: 97px;
        font-size: 13px;
    }

    .graph {
        padding: 0 38px;
    }

    .main_container {
        width: 100%;
        flex-wrap: wrap;
    }

    .ele_parta {
        width: 45%;
    }

    #part_c {
        margin-top: 45px;
    }

}

@media(width < 805px) {
    .ring_and_graph {
        width: 100%;
        margin-bottom: 31px;
        flex-wrap: wrap;
    }

    .ring_graph {
        width: 100%;
    }

    .ring {
        width: 100%;
        max-width: 346px;
        /* min-width: 254px; */
    }

    .elevate {
        background: linear-gradient(to right, #190D2E 0%, #02010A 107%, #000000 103%);
        padding: 4.75rem 3.125rem;
    }

    .foot_b {
        display: flex;
        align-items: baseline;
        /* gap: 45px; */
        width: 100%;
        justify-content: space-between;
    }

    .foot_a {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }

}

@media(width < 800px) {
    .menu-icon {
        display: flex;
        padding-left: 18px;
    }

    .l_element {
        display: none;
    }

    .l_button {
        display: flex;
        align-items: center;
    }

    .nav_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4.25rem;
        padding: 0 18px;
    }

    /* Boxes */
    .box1 {
        width: 20%;
        height: 80px;
    }

    .box1 img {
        width: 125px;
        height: 34px;
    }
}

@media (width < 700px) {
    .box1 {
        width: 43%;
        height: 80px;
    }

    .head_para h1 {
        font-size: 4rem;
    }

    .head_para p {
        font-size: 1rem;
        padding-top: 0.75rem;
    }

    .field_new {
        width: 255px;
        height: 39px;
        font-size: 16px;
    }

    .start button {
        width: 116px;
        height: 38px;
        font-size: 13px;
        padding: 4px 13px;
    }

    .field_new p {
        font-size: 12px;
    }

    .boost {
        margin: 4rem 0 2.75rem 0;
    }
}

@media(width < 600px) {
    .ele_parta {
        width: 100%;
    }

    #part_c {
        margin-top: 0px;
    }

    .client_main_section {
        flex-wrap: wrap;
    }

    .client_img,
    .client_txt {
        width: 100%;
        text-align: center;
    }



    .client_center {
        margin-top: 50px;
    }

    .ring_graph img {
        width: 100%;
        height: 310px;
    }


}

@media(width < 500px) {
    .head_para h1 {
        font-size: 3.4rem;
        padding-top: 10px;
    }

    .head_para p {
        font-size: 0.8rem;
        padding-top: 0.75rem;
    }

    .start button {
        width: 111px;
        height: 35px;
        font-size: 12px;
        padding: 4px 13px;
    }

    .graph {
        padding: 0 20px;
    }

    .harness p {
        font-size: 1.7rem;
    }

    .price_box1 {
        width: 78%;
        margin-bottom: 15px;
    }

    .price_box1 button {
        width: 100%;
    }

    .ring_graph img {
        width: 100%;
        height: 255px;
    }
}

@media(width < 420px) {
    .head_para h1 {
        font-size: 3rem;
        padding-top: 10px;
    }

    .head_para p {
        font-size: 0.7rem;
        padding-top: 0.75rem;
    }

    .start button {
        width: 107px;
        height: 33px;
        font-size: 11px;
        padding: 4px 13px;
    }


    .field_new p {
        font-size: 10px;
    }

    .field_new {
        width: 230px;
        height: 36px;
        font-size: 16px;
    }

    .harness p {
        font-size: 1.4rem;
    }

    .elevate h2 {
        font-size: 3rem;
    }

    .ring_graph img {
        width: 100%;
        height: 220px;
    }

    .foot_logos #ab404 {
        padding-left: 12px;
    }
}